body{
	background-color:#E6E6E6;
	font-family: 'Comic Sans MS', cursive;
}
aside{
	background-color:#F5F5F5;
	border: solid 1px #e2e0d8;
	line-height: 200%;
	display: flex;
	flex-direction: column;
	width: 275px;
	padding: 20px;
	top: 0;
	height: 100%;
	margin-left: 10%;
}
h1{
	color: #FF0000;
	font-size:35px;
	text-align:center;
	margin-top:5px;
}
h3{
	color:#FF0000;
	margin-left:25px;
}
article{
	display: flex;
	background-color:#F5F5F5;
	border: solid 1px #e2e0d8;
	width: 900px;
	margin: auto;
	margin-top: 0%;
	flex-direction: column;
}
footer{
	margin-left: 0px;
	text-align:center;
	display: block;
}
.color{
	color:#DF7401;
}
#espacememo{
	margin-bottom:10px;
	margin-top:10px;
}
a:hover {
	color:#FFBF00;
}
a{
	text-decoration:none;
	color:#db5c42;
}
ul{
	margin-left:25px;
}
p{
	margin-left:50px;
	margin-right:50px;
}
h5{
	margin-bottom: 0px;
}
.decalage{
	margin-left:100px;
	margin-right:100px;
}
h2{
	font-size:17px;
	margin-left: 45px;
	margin-right: 45px;
}
p{
	margin-left:90px;
}
@media(max-width:427px) {
	aside{
		display: none;
	}
	h2{
		margin-left: 5px;
		margin-right: 5px;
	}
	p{
		margin-left: 10px;
		margin-right: 10px;
	}
	.decalage{
		margin-left: 0px;
		margin-right: 10px;
	}
}

@media(max-width:1025px) {
	article{
		margin-left: 0px;
	}
	aside{
		margin-right: 0px;
	}
}
